{% extends "base_users.html" %}

{% block title %}I-POS | Welcome{% endblock %}

{% block content %}
    <div class="container mt-5" >
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h1 class="text-center">Selamat Datang di I-POS!</h1>
                <hr>
                <div>
                  <marquee behavior="" direction="" class="text-warning">Point Of Sale By. ISaefuloh | Pemesanan WA : 0895323700110 , Email : Isaefuloh@gmail.com</marquee>
                </div>
                <hr>
                <p class="lead">I-POS adalah sistem point-of-sale (POS) yang dirancang untuk mempermudah pengelolaan transaksi coffee shop Anda. Aplikasi ini memberikan berbagai fitur untuk memantau dan mengelola pesanan, laporan penjualan, dan menu produk dengan mudah.</p>
                <hr>
                <h3 class="text-center">Fitur Utama</h3>
                <ul>
                  <li>Pembuatan dan Pengelolaan Pesanan</li>
                  <li>Laporan Penjualan Harian, Mingguan, dan Bulanan</li>
                  <li>Manajemen Menu Produk</li>
                  <li>Antarmuka Pengguna yang Mudah Digunakan</li>
                </ul>
                <hr>
                <div class="row justify-content-center">
                  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                   <div class="card-header"><h6 class="text-center">Silakan login untuk mulai demo menggunakan aplikasi I-POS</h6></div>
                    <div class="card-body">
                     <p class="card-text">User : Kasir</p>
                     <p class="card-text">Pass : Admin@123</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
