{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Tambah Menu{% endblock %}


{% block content %}
<div class="row mt-5">
    <div class="col-md-12">
        <h1 class="display-2 text-shadow d-flex justify-content-center">
            Tambah Menu
        </h1>
    </div>
</div>

<div class="row mt-3 d-flex justify-content-center">
    <div class="col-lg-5 ">
        <div class="card bg-dark">
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-success btn-lg btn-block">
                        Simpan Menu
                    </button>
                </form>
                <a href="{% url 'pos:master-menu' %}">Kembali ke Daftar Menu</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}